@charset "UTF-8";
/*공통*/
a {
  text-decoration: none;
  color: #fff; }

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  /*헤더*/
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15%; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
    header .h_c_sns, header .h_c_logo, header .h_c_menu {
      width: 30%;
      height: 5vw;
      margin-bottom: 10px; }
    header .h_c_sns a {
      height: 3vw;
      width: 3vw;
      margin: 1vw 1vw 0 0; }
      header .h_c_sns a img {
        height: 3vw;
        width: 3vw;
        margin: 1vw 0 0 0; }
    header .h_c_logo {
      display: flex;
      justify-content: center; }
      header .h_c_logo a, header .h_c_logo img {
        width: 4vw;
        height: 5vw; }
    header .h_c_menu {
      display: flex;
      justify-content: flex-end;
      margin: 0.5vw 0 0 0; }
      header .h_c_menu a, header .h_c_menu img {
        width: 4vw;
        height: 4vw;
        margin-top: .1vw; }

  .s_container {
    background-color: #393433;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
    z-index: 1; }
    .s_container .s_li {
      margin: 70px 0 70px 0;
      display: flex;
      justify-content: center; }
      .s_container .s_li a {
        font-size: 30px;
        color: #fff; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; }

  /* 이주의 선수 */
  .w_p_container {
    width: 100vw;
    height: 50vw;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    z-index: -1; }
    .w_p_container .w_p_title {
      width: 11vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #922d2d; }
      .w_p_container .w_p_title p, .w_p_container .w_p_title h2 {
        font-size: 2vw;
        color: #fff; }
    .w_p_container .w_p_i_container {
      width: 100vw;
      height: 100vw;
      display: flex;
      justify-content: space-between; }
      .w_p_container .w_p_i_container .w_p_img {
        position: relative;
        display: flex;
        justify-content: center;
        width: 22.6vw;
        height: 50vw; }
        .w_p_container .w_p_i_container .w_p_img img {
          width: 22.6vw;
          height: 50vw; }
        .w_p_container .w_p_i_container .w_p_img .w_p_text {
          position: absolute;
          width: 10vw;
          height: 7vw;
          top: 75%;
          left: 55%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: #fff;
          font-weight: bolder;
          line-height: 50px; }
          .w_p_container .w_p_i_container .w_p_img .w_p_text p {
            font-size: 2.5vw; }
          .w_p_container .w_p_i_container .w_p_img .w_p_text h2 {
            font-size: 3.5vw; }

  .w_p_i_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 1vw 0 0 80vw;
    display: flex; }
    .w_p_i_footer .w_p_i_f_atag {
      padding: 2vw 6vw;
      background-color: #922d2d;
      color: #fff; }

  /* 경기 결과 */
  .g_r_container {
    width: 100vw;
    height: 30vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between; }
    .g_r_container .g_r_title {
      background-color: #922d2d;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw; }
      .g_r_container .g_r_title p, .g_r_container .g_r_title h2 {
        font-size: 1.5vw;
        color: #fff; }
    .g_r_container .g_r_card_container {
      width: 30vw;
      height: 30vw;
      display: flex;
      justify-content: space-between;
      background-color: #393433;
      text-align: center; }
      .g_r_container .g_r_card_container .h_t_result_container, .g_r_container .g_r_card_container .a_t_result_container {
        width: 11vw;
        height: 30vw;
        display: flex;
        flex-direction: column; }
        .g_r_container .g_r_card_container .h_t_result_container img, .g_r_container .g_r_card_container .a_t_result_container img {
          width: 5vw;
          height: 6vw;
          margin: 1vw 3vw; }
        .g_r_container .g_r_card_container .h_t_result_container h2, .g_r_container .g_r_card_container .a_t_result_container h2 {
          width: 100%;
          margin: 1vw 0;
          font-size: 1.3vw;
          color: #fff; }
        .g_r_container .g_r_card_container .h_t_result_container h1, .g_r_container .g_r_card_container .a_t_result_container h1 {
          margin: 1vw 0;
          font-size: 4vw;
          color: #fff; }
        .g_r_container .g_r_card_container .h_t_result_container h5, .g_r_container .g_r_card_container .a_t_result_container h5 {
          font-size: .7vw;
          color: #fff; }
      .g_r_container .g_r_card_container .g_r_timeplace_container {
        width: 8vw;
        height: 15vw; }
        .g_r_container .g_r_card_container .g_r_timeplace_container h5 {
          margin-top: 3vw;
          color: #fff; }
        .g_r_container .g_r_card_container .g_r_timeplace_container h4 {
          color: #fff; }
    .g_r_container .g_r_card_container:nth-child(1) {
      border-right: 1px solid #fff; }
    .g_r_container .g_r_card_container:nth-child(2) {
      border-right: 1px solid #fff; }
    .g_r_container .g_r_card_container:nth-child(3) {
      border-right: 1px solid #fff; }

  .g_r_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 1vw 0 0 80vw;
    display: flex; }
    .g_r_footer .g_r_f_atag {
      padding: 2vw 6vw;
      background-color: #922d2d;
      color: #fff; }

  /* 선수 기록 */
  .p_r_header_container {
    margin-top: 3vw;
    width: 100vw;
    height: 5vw;
    line-height: 5vw;
    font-size: 1.5vw; }
    .p_r_header_container ul {
      display: flex;
      justify-content: flex-start; }
      .p_r_header_container ul li {
        margin-left: .5vw; }
        .p_r_header_container ul li .p_r_h_score_txt {
          color: #922d2d;
          background-color: #fff;
          font-weight: bolder; }
        .p_r_header_container ul li .p_r_h_assist_txt, .p_r_header_container ul li .p_r_h_tackle_txt,
        .p_r_header_container ul li .p_r_h_shooting_txt, .p_r_header_container ul li .p_r_h_killpass_txt {
          color: #000;
          background-color: #fff; }

  .p_r_container {
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    position: relative; }
    .p_r_container .p_r_title {
      background-color: #922d2d;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw;
      height: 30vw; }
      .p_r_container .p_r_title p, .p_r_container .p_r_title h2 {
        font-size: 1.5vw;
        color: #fff; }
    .p_r_container .p_r_card_container {
      width: 22.6vw;
      height: 30vw;
      position: relative; }
      .p_r_container .p_r_card_container .p_r_c_rank_container {
        position: absolute;
        border: 1px solid #fff;
        width: 4vw;
        height: 4vw;
        top: 25vw;
        left: 17vw;
        text-align: center;
        line-height: 4vw;
        background-color: #fff; }
        .p_r_container .p_r_card_container .p_r_c_rank_container h1 {
          font-size: 3vw;
          font-weight: bolder;
          color: #922d2d; }
      .p_r_container .p_r_card_container img {
        width: 100%;
        height: 100%;
        background-size: cover; }

  .p_r_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 11vw 0 0 80vw;
    display: flex; }
    .p_r_footer .p_r_f_atag {
      padding: 2vw 6vw;
      background-color: #922d2d;
      color: #fff; }

  /* 포토 갤러리 */
  .p_gallery_container {
    width: 100vw;
    height: 50vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between; }
    .p_gallery_container .p_g_title {
      background-color: #922d2d;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10vw;
      height: 50vw; }
      .p_gallery_container .p_g_title p, .p_gallery_container .p_g_title h2 {
        font-size: 1.5vw;
        color: #fff; }
    .p_gallery_container .p_g_left_container {
      width: 30vw;
      height: 50vw; }
      .p_gallery_container .p_g_left_container img {
        width: 100%;
        height: 100%; }
    .p_gallery_container .p_g_right_container {
      width: 60vw;
      height: 50vw; }
      .p_gallery_container .p_g_right_container .p_g_r_top_container, .p_gallery_container .p_g_right_container .p_g_r_bottom_container {
        width: 60vw;
        height: 25vw;
        display: flex;
        justify-content: space-between; }
      .p_gallery_container .p_g_right_container .p_g_r_top_container img {
        width: 20vw;
        height: 25vw; }
      .p_gallery_container .p_g_right_container .p_g_r_bottom_container img {
        width: 30vw;
        height: 25vw; }

  .p_g_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 1vw 0 0 80vw;
    display: flex; }
    .p_g_footer .p_g_f_atag {
      padding: 2vw 6vw;
      background-color: #922d2d;
      color: #fff; } }
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15%; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between; }
    header .h_c_sns {
      display: none; }

  .s_container {
    background-color: #393433;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease; }
    .s_container .s_li {
      margin: 50px 0 50px 0;
      display: flex;
      justify-content: center; }
      .s_container .s_li a {
        font-size: 30px;
        color: #fff; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; } }
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15%; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between; }
    header .h_c_sns {
      display: none; }

  .s_container {
    background-color: #393433;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease; }
    .s_container .s_li {
      margin: 50px 0 50px 0;
      display: flex;
      justify-content: center; }
      .s_container .s_li a {
        font-size: 30px;
        color: #fff; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; } }

/*# sourceMappingURL=index.css.map */
