/*공통*/
a {
    text-decoration: none;
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    /*헤더*/
    header {
        border-bottom: 3px solid #922d2d;
        width: 100%;
        height: 15%;
        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        .h_c_sns, .h_c_logo, .h_c_menu {
            width: 30%;
            height: 5vw;
            margin-bottom: 10px;
        }
        .h_c_sns {
            a {
                height: 3vw;
                width: 3vw;
                margin: 1vw 1vw 0 0;
                img {
                    height: 3vw;
                    width: 3vw;
                    margin: 1vw 0 0 0;
                }
            }
        }
        .h_c_logo {
            display: flex;
            justify-content: center;
            a,img {
                width: 4vw;
                height: 5vw;
            }
        }
        .h_c_menu {
            display: flex;
            justify-content: flex-end;
            margin: 0.5vw 0 0 0;
            a, img {
                width: 4vw;
                height: 4vw;
                margin-top: .1vw;
            }
        }
    }
    .s_container {
        background-color: #393433;
        width: 200px;
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        transition: 1s ease;

        .s_li {
            margin: 70px 0 70px 0;
            display: flex;
            justify-content: center;

            a {
                font-size: 30px;
                color: #fff;
            }
            a:hover {
                transition: .5s ease;
                color: #922d2d;
            }
        }
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    header {
        border-bottom: 3px solid #922d2d;
        width: 100%;
        height: 15%;
        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        .h_c_sns {
            display: none;
        }
    }
    .s_container {
        background-color: #393433;
        width: 200px;
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        transition: 1s ease;

        .s_li {
            margin: 50px 0 50px 0;
            display: flex;
            justify-content: center;

            a {
                font-size: 30px;
                color: #fff;
            }
            a:hover {
                transition: .5s ease;
                color: #922d2d;
            }
        }
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
    header {
        border-bottom: 3px solid #922d2d;
        width: 100%;
        height: 15%;
        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        .h_c_sns {
            display: none;
        }
    }
    .s_container {
        background-color: #393433;
        width: 200px;
        position: absolute;
        top: 0;
        left: -200px;
        bottom: 0;
        transition: 1s ease;

        .s_li {
            margin: 50px 0 50px 0;
            display: flex;
            justify-content: center;

            a {
                font-size: 30px;
                color: #fff;
            }
            a:hover {
                transition: .5s ease;
                color: #922d2d;
            }
        }
    }
}