@charset "UTF-8";
/*공통*/
body, html {
  height: auto;
  width: 100%; }

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  /*헤더*/
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15%; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
    header .h_c_sns, header .h_c_logo, header .h_c_menu {
      width: 30%;
      height: 5vw;
      margin-bottom: 10px; }
    header .h_c_sns a {
      height: 2.5vw;
      width: 2.5vw;
      margin: 1vw 1vw 0 0; }
      header .h_c_sns a img {
        height: 2.5vw;
        width: 2.5vw;
        margin: 1vw 0 0 0; }
    header .h_c_logo {
      display: flex;
      justify-content: center; }
      header .h_c_logo a, header .h_c_logo img {
        width: 4vw;
        height: 5vw; }
    header .h_c_menu {
      display: flex;
      justify-content: flex-end;
      margin: 1vw 2vw 0 0; }
      header .h_c_menu a, header .h_c_menu img {
        width: 2.7vw;
        height: 2.7vw;
        margin-top: .1vw; }

  .s_container {
    background-color: silver;
    width: 200px;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
    display: none;
    position: fixed;
    right: 0;
    top: 0; }
    .s_container .s_li {
      margin: 70px 0 70px 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 10%; }
      .s_container .s_li a {
        font-size: 30px;
        color: #000;
        height: 100%;
        display: flex;
        justify-content: center; }
        .s_container .s_li a img {
          width: 30%; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; }

  .sidebar_overlay {
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: none; }

  .all_container {
    width: 100%;
    height: 100%;
    margin: 0 auto; }

  /* 이주의 선수 */
  .w_p_container {
    width: 100%;
    height: 80%;
    display: block;
    z-index: -1; }
    .w_p_container .w_p_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .w_p_container .w_p_title p, .w_p_container .w_p_title h2 {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .w_p_container .w_p_card_container {
      width: 100%;
      height: 100%;
      background-color: #393433;
      overflow: hidden; }
      .w_p_container .w_p_card_container .w_p_card {
        position: relative;
        width: 60vw;
        height: 55vw;
        margin: 3vw 5vw 3vw 5vw;
        background-color: #393433; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container {
          width: 100%;
          height: 12%;
          color: #fff;
          text-align: center;
          margin: 3vw 0 0 0;
          line-height: 8vw; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container h1 {
            font-size: 4.5vw;
            font-weight: bolder; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container {
          width: 100%;
          height: 74%; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container img {
            width: 100%;
            height: 100%; }

  .w_p_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .w_p_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .w_p_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .w_p_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .w_p_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .w_p_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 경기 결과 */
  .g_r_container {
    width: 100%;
    height: 42vw;
    margin-top: 3vw;
    display: block;
    z-index: -1; }
    .g_r_container .g_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .g_r_container .g_r_title p, .g_r_container .g_r_title h2 {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .g_r_container .g_r_content_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 70%; }
      .g_r_container .g_r_content_container .g_r_card_container {
        width: 33.33vw;
        height: 30vw;
        display: flex;
        justify-content: space-between;
        background-color: #393433;
        text-align: center; }
        .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container {
          width: 11vw;
          height: 30vw;
          display: flex;
          flex-direction: column; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container img, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container img {
            width: 5vw;
            height: 6vw;
            margin: 1vw 3vw; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h2, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h2 {
            width: 100%;
            margin: 1vw 0;
            font-size: 1.3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h1, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h1 {
            margin: 1vw 0;
            font-size: 4vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h5, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h5 {
            font-size: .7vw;
            color: #fff; }
        .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container {
          width: 8vw;
          height: 15vw; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h5 {
            margin-top: 3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h4 {
            color: #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(1) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(2) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(3) {
        border-right: 1px solid #393433; }

  .g_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .g_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .g_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .g_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .g_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .g_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 선수 기록 */
  .p_r_header_container {
    margin-top: 3vw;
    width: 100%;
    height: 15vw;
    line-height: 2.7vw;
    font-size: 1.5vw; }
    .p_r_header_container .p_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .p_r_header_container .p_r_title p {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        border-left: 5px solid #922d2d;
        padding-left: 1vw; }
    .p_r_header_container ul {
      display: flex;
      justify-content: flex-start;
      background-color: #393433;
      height: 5vw; }
      .p_r_header_container ul li {
        line-height: 5vw;
        margin-left: .5vw; }
        .p_r_header_container ul li .p_r_h_score_txt {
          color: #922d2d;
          font-weight: bolder; }
        .p_r_header_container ul li .p_r_h_assist_txt, .p_r_header_container ul li .p_r_h_tackle_txt,
        .p_r_header_container ul li .p_r_h_shooting_txt, .p_r_header_container ul li .p_r_h_killpass_txt {
          color: #fff; }

  .p_r_container {
    width: 100%;
    height: 50vw; }
    .p_r_container .p_r_card_container {
      width: 50%;
      height: 50vw;
      position: relative;
      border: 1px solid #393433; }
      .p_r_container .p_r_card_container .p_r_c_rank_container {
        position: absolute;
        width: 4vw;
        height: 4vw;
        top: 43vw;
        left: 27vw;
        text-align: center;
        line-height: 4vw;
        background-color: #fff; }
        .p_r_container .p_r_card_container .p_r_c_rank_container h1 {
          font-size: 3vw;
          font-weight: bolder;
          color: #922d2d; }
      .p_r_container .p_r_card_container img {
        width: 100%;
        height: 100%;
        object-fit: fill; }
    .p_r_container .p_r_card_container:nth-child(1) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(2) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(3) {
      border-right: 1px solid #fff; }

  .p_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .p_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .p_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .p_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .p_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .p_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* BI */
  .p_r_bi_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7vw; }
    .p_r_bi_container img {
      width: 60%;
      height: 60%; }

  /* 포토 갤러리 */
  .p_gallery_container {
    width: 100%;
    height: 100%;
    margin-top: 3vw;
    display: block; }
    .p_gallery_container .p_g_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .p_gallery_container .p_g_title p {
        padding-left: 1vw;
        border-left: 5px solid #922d2d;
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder; }
    .p_gallery_container .p_g_photo_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
      .p_gallery_container .p_g_photo_container .p_g_left_container {
        width: 40%;
        height: 50vw; }
        .p_gallery_container .p_g_photo_container .p_g_left_container img {
          width: 100%;
          height: 100%; }
      .p_gallery_container .p_g_photo_container .p_g_right_container {
        width: 60%;
        height: 50vw; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container, .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container {
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-between; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container img {
          width: 100%;
          height: 100%; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container img {
          width: 100%;
          height: 100%; }

  .p_g_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 80vw;
    display: flex; }
    .p_g_footer .p_g_f_atag {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #922d2d;
      color: #fff; }

  /* 스폰서 */
  .t_sponsor_container {
    margin-top: 3vw;
    width: 100%;
    height: 100%; }
    .t_sponsor_container .t_sponsor_title_container {
      width: 99%;
      height: 10vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw; }
      .t_sponsor_container .t_sponsor_title_container h1 {
        font-size: 2.5vw;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d;
        color: #922d2d; }
    .t_sponsor_container .t_s_top_container, .t_sponsor_container .t_s_middle_container, .t_sponsor_container .t_s_bottom_container {
      width: 100%;
      height: 33.33%;
      display: flex;
      justify-content: space-around; }
    .t_sponsor_container .t_s_top_container {
      margin: 0 0 3vw 0; }
      .t_sponsor_container .t_s_top_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_top_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_top_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_top_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_middle_container {
      margin-bottom: 3vw; }
      .t_sponsor_container .t_s_middle_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_middle_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_middle_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_middle_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_bottom_container ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .t_sponsor_container .t_s_bottom_container ul li {
        width: 70%; }
        .t_sponsor_container .t_s_bottom_container ul li a {
          width: 100%;
          height: 100%; }
          .t_sponsor_container .t_s_bottom_container ul li a img {
            width: 23%;
            height: 100%; }

  /* 풋터 */
  .footer_container {
    width: 100%;
    height: auto;
    background-color: #393433;
    margin-top: 5vw;
    display: block; }
    .footer_container .f_content_container {
      margin: 0 auto;
      width: 50%;
      height: 100%; }
      .footer_container .f_content_container .f_logo_container {
        width: 100%;
        height: 8vw;
        display: flex;
        justify-content: center; }
        .footer_container .f_content_container .f_logo_container img {
          height: 80%;
          margin: 2vw 1vw 0 1vw; }
      .footer_container .f_content_container .f_policy_container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 5vw;
        margin-left: 0; }
        .footer_container .f_content_container .f_policy_container a {
          margin: 0 15px 0 15px; }
      .footer_container .f_content_container .f_txt_container {
        width: 100%;
        height: 4vw; }
        .footer_container .f_content_container .f_txt_container .f_addr_container, .footer_container .f_content_container .f_txt_container .f_right_container {
          width: 100%;
          height: 50%;
          text-align: center; }
        .footer_container .f_content_container .f_txt_container .f_addr_container h1 {
          color: #fff; }
        .footer_container .f_content_container .f_txt_container .f_right_container h1 {
          color: #b3b3b3; } }
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* 헤더 */
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15vw; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      header nav ul li {
        width: 30%;
        height: 15%;
        margin-bottom: 10px; }
    header .h_c_sns a {
      height: 100%;
      width: 100%;
      margin: 1vw 1vw 0 0; }
      header .h_c_sns a img {
        height: 25%;
        width: 25%;
        margin-top: 3vw; }
    header .h_c_logo {
      padding-left: 13%;
      margin: 1.5% 0 1.5% 0; }
      header .h_c_logo a, header .h_c_logo img {
        width: 55%;
        height: 80%; }
    header .h_c_menu {
      padding-left: 20%;
      margin: 3% 0 1.5% 0; }
      header .h_c_menu a, header .h_c_menu img {
        width: 70%;
        height: 80%; }

  .s_container {
    background-color: silver;
    width: 20%;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
    display: none;
    position: fixed;
    right: 0;
    top: 0; }
    .s_container .s_li {
      margin: 70px 0 70px 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 10%; }
      .s_container .s_li a {
        font-size: 30px;
        color: #000;
        height: 100%;
        display: flex;
        justify-content: center; }
        .s_container .s_li a img {
          width: 30%; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; }

  .sidebar_overlay {
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: none; }

  /* 이주의 선수 */
  .w_p_container {
    width: 100%;
    height: 80%;
    display: block;
    z-index: -1; }
    .w_p_container .w_p_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .w_p_container .w_p_title p, .w_p_container .w_p_title h2 {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .w_p_container .w_p_card_container {
      width: 100%;
      height: 100%;
      background-color: #393433;
      overflow: hidden; }
      .w_p_container .w_p_card_container .w_p_card {
        position: relative;
        width: 50vw;
        height: 55vw;
        margin: 3vw 5vw 3vw 5vw;
        background-color: #393433; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container {
          width: 100%;
          height: 12%;
          color: #fff;
          text-align: center;
          margin: 3vw 0 1vw 0;
          line-height: 8vw; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container h1 {
            font-size: 4.5vw;
            font-weight: bolder; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container {
          width: 100%;
          height: 74%; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container img {
            width: 100%;
            height: 100%; }

  .w_p_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .w_p_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .w_p_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .w_p_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .w_p_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .w_p_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 경기 결과 */
  .g_r_container {
    width: 100%;
    height: 42vw;
    margin-top: 10vw;
    display: block; }
    .g_r_container .g_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .g_r_container .g_r_title p, .g_r_container .g_r_title h2 {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .g_r_container .g_r_content_container {
      display: flex;
      justify-content: flex-start;
      width: 100%; }
      .g_r_container .g_r_content_container .g_r_card_container {
        width: 40vw;
        height: 30vw;
        display: flex;
        justify-content: space-between;
        background-color: #393433;
        text-align: center;
        margin: 0 1vw 0 1vw; }
        .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container {
          width: 11vw;
          height: 30vw;
          display: flex;
          flex-direction: column; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container img, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container img {
            width: 5vw;
            height: 6vw;
            margin: 1vw 3vw; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h2, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h2 {
            width: 100%;
            margin: 1vw 0;
            font-size: 1.3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h1, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h1 {
            margin: 1vw 0;
            font-size: 4vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h5, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h5 {
            font-size: .7vw;
            color: #fff; }
        .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container {
          width: 15vw;
          height: 15vw; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h5 {
            margin-top: 3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h4 {
            color: #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(1) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(2) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(3) {
        border-right: 1px solid #393433; }

  .g_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .g_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .g_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .g_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .g_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .g_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 선수 기록 */
  .p_r_header_container {
    margin-top: 10vw;
    width: 100%;
    height: 15vw;
    line-height: 2.7vw;
    font-size: 1.5vw; }
    .p_r_header_container .p_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .p_r_header_container .p_r_title p {
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder;
        border-left: 5px solid #922d2d;
        padding-left: 1vw; }
    .p_r_header_container ul {
      display: flex;
      justify-content: flex-start;
      background-color: #393433;
      height: 5vw; }
      .p_r_header_container ul li {
        line-height: 5vw;
        margin-left: .5vw; }
        .p_r_header_container ul li .p_r_h_score_txt {
          color: #922d2d;
          font-weight: bolder; }
        .p_r_header_container ul li .p_r_h_assist_txt, .p_r_header_container ul li .p_r_h_tackle_txt,
        .p_r_header_container ul li .p_r_h_shooting_txt, .p_r_header_container ul li .p_r_h_killpass_txt {
          color: #fff; }

  .p_r_container {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: space-between;
    position: relative; }
    .p_r_container .p_r_card_container {
      width: 33.33vw;
      height: 50vw;
      position: relative;
      border: 1px solid #393433; }
      .p_r_container .p_r_card_container .p_r_c_rank_container {
        position: absolute;
        width: 4vw;
        height: 4vw;
        top: 43vw;
        left: 25vw;
        text-align: center;
        line-height: 4vw;
        background-color: #fff; }
        .p_r_container .p_r_card_container .p_r_c_rank_container h1 {
          font-size: 3vw;
          font-weight: bolder;
          color: #922d2d; }
      .p_r_container .p_r_card_container img {
        width: 100%;
        height: 100%;
        background-size: cover; }
    .p_r_container .p_r_card_container:nth-child(1) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(2) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(3) {
      border-right: 1px solid #fff; }

  .p_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .p_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .p_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .p_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .p_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .p_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* BI */
  .p_r_bi_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vw;
    margin-bottom: 20vw; }
    .p_r_bi_container img {
      width: 100%;
      height: 100%; }

  /* 포토 갤러리 */
  .p_gallery_container {
    width: 100%;
    height: 100%;
    margin-top: 10vw;
    display: block; }
    .p_gallery_container .p_g_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw;
      width: 99%;
      height: 10vw; }
      .p_gallery_container .p_g_title p {
        padding-left: 1vw;
        border-left: 5px solid #922d2d;
        font-size: 2.5vw;
        color: #922d2d;
        font-weight: bolder; }
    .p_gallery_container .p_g_photo_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%; }
      .p_gallery_container .p_g_photo_container .p_g_left_container {
        width: 40%;
        height: 50vw; }
        .p_gallery_container .p_g_photo_container .p_g_left_container img {
          width: 100%;
          height: 100%; }
      .p_gallery_container .p_g_photo_container .p_g_right_container {
        width: 60%;
        height: 50vw; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container, .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container {
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-between; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container img {
          width: 100%;
          height: 100%; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container img {
          width: 100%;
          height: 100%; }

  .p_g_footer {
    width: 15vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 80vw;
    display: flex; }
    .p_g_footer .p_g_f_atag {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #922d2d;
      color: #fff; }

  /* 스폰서 */
  .t_sponsor_container {
    margin-top: 10vw;
    width: 100%;
    height: 100%; }
    .t_sponsor_container .t_sponsor_title_container {
      width: 99%;
      height: 10vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 1vw; }
      .t_sponsor_container .t_sponsor_title_container h1 {
        font-size: 2.5vw;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d;
        color: #922d2d; }
    .t_sponsor_container .t_s_top_container, .t_sponsor_container .t_s_middle_container, .t_sponsor_container .t_s_bottom_container {
      width: 100%;
      height: 33.33%;
      display: flex;
      justify-content: space-around; }
    .t_sponsor_container .t_s_top_container {
      margin: 0 0 3vw 0; }
      .t_sponsor_container .t_s_top_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_top_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_top_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_top_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_middle_container {
      margin-bottom: 3vw; }
      .t_sponsor_container .t_s_middle_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_middle_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_middle_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_middle_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_bottom_container ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .t_sponsor_container .t_s_bottom_container ul li {
        width: 70%; }
        .t_sponsor_container .t_s_bottom_container ul li a {
          width: 100%;
          height: 100%; }
          .t_sponsor_container .t_s_bottom_container ul li a img {
            width: 23%;
            height: 100%; }

  /* 풋터 */
  .footer_container {
    width: 100%;
    height: 300px;
    background-color: #393433;
    margin-top: 5vw;
    display: block; }
    .footer_container .f_content_container {
      margin: 0 auto;
      width: 100%;
      height: 100%; }
      .footer_container .f_content_container .f_logo_container {
        width: 100%;
        height: 15vw;
        display: flex;
        justify-content: center; }
        .footer_container .f_content_container .f_logo_container img {
          height: 80%;
          margin: 2vw 1vw 0 1vw; }
      .footer_container .f_content_container .f_policy_container {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 5vw;
        margin-left: 0; }
        .footer_container .f_content_container .f_policy_container a {
          margin: 0 15px 0 15px; }
      .footer_container .f_content_container .f_txt_container {
        width: 100%;
        height: 4vw; }
        .footer_container .f_content_container .f_txt_container .f_addr_container, .footer_container .f_content_container .f_txt_container .f_right_container {
          width: 100%;
          height: 50%;
          text-align: center; }
        .footer_container .f_content_container .f_txt_container .f_addr_container h1 {
          color: #fff; }
        .footer_container .f_content_container .f_txt_container .f_right_container h1 {
          color: #b3b3b3; } }
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  /* 헤더 */
  header {
    border-bottom: 3px solid #922d2d;
    width: 100%;
    height: 15vw; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      header nav ul li {
        width: 30%;
        height: 15%;
        margin-bottom: 10px; }
    header .h_c_sns a {
      height: 100%;
      width: 100%;
      margin: 1vw 1vw 0 0; }
      header .h_c_sns a img {
        height: 25%;
        width: 25%;
        margin-top: 3vw; }
    header .h_c_logo {
      padding-left: 13%;
      margin: 1.5% 0 1.5% 0; }
      header .h_c_logo a, header .h_c_logo img {
        width: 55%;
        height: 80%; }
    header .h_c_menu {
      padding-left: 20%;
      margin: 3% 0 1.5% 0; }
      header .h_c_menu a, header .h_c_menu img {
        width: 70%;
        height: 80%; }

  .s_container {
    background-color: silver;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    z-index: 1;
    display: none;
    position: fixed;
    right: 0;
    top: 0; }
    .s_container .s_li {
      margin: 50px 0 70px 0;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 10%; }
      .s_container .s_li a {
        font-size: 30px;
        color: #000;
        height: 100%;
        display: flex;
        justify-content: center; }
        .s_container .s_li a img {
          width: 30%; }
      .s_container .s_li a:hover {
        transition: .5s ease;
        color: #922d2d; }

  /* 이주의 선수 */
  .w_p_container {
    width: 100%;
    height: 80%;
    display: block;
    z-index: -1; }
    .w_p_container .w_p_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5vw 0 0 3vw;
      width: 99%;
      height: 10vw; }
      .w_p_container .w_p_title p, .w_p_container .w_p_title h2 {
        font-size: 4vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .w_p_container .w_p_card_container {
      width: 100%;
      height: 140vw;
      background-color: #393433;
      overflow: hidden; }
      .w_p_container .w_p_card_container .w_p_card {
        position: relative;
        width: 30%;
        height: 140vw;
        margin: 3vw 5vw 3vw 5vw;
        background-color: #393433; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container {
          width: 100%;
          height: 7%;
          color: #fff;
          text-align: center;
          margin: 5vw 0 0 0;
          line-height: 8vw; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_title_container h1 {
            font-size: 6vw;
            font-weight: bolder; }
        .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container {
          width: 100%;
          height: 74%; }
          .w_p_container .w_p_card_container .w_p_card .w_p_c_img_container img {
            width: 100%;
            height: 100%; }

  .w_p_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .w_p_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .w_p_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .w_p_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .w_p_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .w_p_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 경기 결과 */
  .g_r_container {
    width: 100%;
    height: 90vw;
    margin-top: 10vw;
    display: block; }
    .g_r_container .g_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3vw;
      width: 99%;
      height: 10vw; }
      .g_r_container .g_r_title p, .g_r_container .g_r_title h2 {
        font-size: 4vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .g_r_container .g_r_content_container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 89%; }
      .g_r_container .g_r_content_container .g_r_card_container {
        width: 100%;
        height: 80vw;
        display: flex;
        justify-content: space-between;
        background-color: #393433;
        text-align: center; }
        .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container {
          width: 25vw;
          height: 100%;
          margin: 5vw 5vw 0 5vw;
          display: flex;
          flex-direction: column; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container img, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container img {
            width: 10vw;
            height: 12vw;
            margin: 3vw 9.5vw 5vw 9.5vw; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h2, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h2 {
            width: 100%;
            margin: 1vw 1vw 0 2vw;
            font-size: 3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h1, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h1 {
            margin: 3vw 5vw 3vw 9vw;
            font-size: 5vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .h_t_result_container h5, .g_r_container .g_r_content_container .g_r_card_container .a_t_result_container h5 {
            margin-left: 5vw;
            font-size: 2vw;
            color: #fff; }
        .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container {
          width: 20vw;
          height: 100%;
          font-size: 3.1vw; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h5 {
            margin-top: 3vw;
            color: #fff; }
          .g_r_container .g_r_content_container .g_r_card_container .g_r_timeplace_container h4 {
            color: #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(1) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(2) {
        border-right: 1px solid #fff; }
      .g_r_container .g_r_content_container .g_r_card_container:nth-child(3) {
        border-right: 1px solid #393433; }

  .g_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .g_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .g_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .g_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .g_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .g_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* 선수 기록 */
  .p_r_header_container {
    width: 100%;
    height: 20vw;
    line-height: 2.7vw;
    font-size: 1.5vw;
    margin-top: 10vw; }
    .p_r_header_container .p_r_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3vw;
      width: 99%;
      height: 10vw; }
      .p_r_header_container .p_r_title p, .p_r_header_container .p_r_title h2 {
        font-size: 4vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d;
        height: 4vw;
        line-height: 4vw; }
    .p_r_header_container ul {
      display: flex;
      justify-content: flex-start;
      background-color: #393433;
      height: 10vw; }
      .p_r_header_container ul li {
        line-height: 10vw;
        margin-left: 1.5vw;
        font-size: 3vw; }
        .p_r_header_container ul li .p_r_h_score_txt {
          color: #922d2d;
          font-weight: bolder; }
        .p_r_header_container ul li .p_r_h_assist_txt, .p_r_header_container ul li .p_r_h_tackle_txt,
        .p_r_header_container ul li .p_r_h_shooting_txt, .p_r_header_container ul li .p_r_h_killpass_txt {
          color: #fff; }

  .p_r_container {
    width: 100%;
    height: 100vw;
    display: flex;
    justify-content: space-between;
    position: relative; }
    .p_r_container .p_r_card_container {
      width: 35%;
      height: 100vw;
      position: relative;
      border: 1px solid #393433; }
      .p_r_container .p_r_card_container .p_r_c_rank_container {
        position: absolute;
        width: 10%;
        height: 9%;
        top: 85%;
        left: 85%;
        text-align: center;
        background-color: #fff; }
        .p_r_container .p_r_card_container .p_r_c_rank_container h1 {
          font-size: 10vw;
          font-weight: bolder;
          color: #922d2d; }
      .p_r_container .p_r_card_container img {
        width: 100%;
        height: 100%;
        background-size: cover; }
    .p_r_container .p_r_card_container:nth-child(1) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(2) {
      border-right: 1px solid #fff; }
    .p_r_container .p_r_card_container:nth-child(3) {
      border-right: 1px solid #fff; }

  .p_r_content_footer {
    width: 100vw;
    height: 6vw;
    line-height: 2vw;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between; }
    .p_r_content_footer .slide_btn_container {
      border: 3px solid #922d2d;
      width: 10%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      justify-content: space-around; }
      .p_r_content_footer .slide_btn_container a {
        width: 50%;
        height: 100%; }
        .p_r_content_footer .slide_btn_container a .play_btn {
          width: 100%;
          height: 100%; }
        .p_r_content_footer .slide_btn_container a .pause_btn {
          width: 80%;
          height: 80%;
          margin-top: .5vw; }
    .p_r_content_footer .content_atag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      height: 100%;
      background-color: #922d2d;
      color: #fff;
      margin-right: 5%; }

  /* BI */
  .p_r_bi_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20vw; }
    .p_r_bi_container img {
      width: 100%;
      height: 60%; }

  /* 포토 갤러리 */
  .p_gallery_container {
    width: 100%;
    height: 60%;
    margin-top: 20vw;
    display: block; }
    .p_gallery_container .p_g_title {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3vw;
      width: 99%;
      height: 10vw; }
      .p_gallery_container .p_g_title p {
        font-size: 4vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .p_gallery_container .p_g_photo_container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60vw; }
      .p_gallery_container .p_g_photo_container .p_g_left_container {
        width: 40%;
        height: 60vw; }
        .p_gallery_container .p_g_photo_container .p_g_left_container img {
          width: 100%;
          height: 100%; }
      .p_gallery_container .p_g_photo_container .p_g_right_container {
        width: 60%;
        height: 60vw; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container, .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container {
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: space-between; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_top_container img {
          width: 100%;
          height: 100%; }
        .p_gallery_container .p_g_photo_container .p_g_right_container .p_g_r_bottom_container img {
          width: 100%;
          height: 100%; }

  .p_g_footer {
    width: 20vw;
    height: 10vw;
    line-height: 2vw;
    margin: 3vw 0 0 75vw;
    display: flex; }
    .p_g_footer .p_g_f_atag {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #922d2d;
      color: #fff; }

  /* 스폰서 */
  .t_sponsor_container {
    margin: 10% 0 20% 0;
    width: 100%;
    height: 100%; }
    .t_sponsor_container .t_sponsor_title_container {
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 3vw;
      width: 99%;
      height: 10vw; }
      .t_sponsor_container .t_sponsor_title_container h1 {
        font-size: 4vw;
        color: #922d2d;
        font-weight: bolder;
        padding-left: 1vw;
        border-left: 5px solid #922d2d; }
    .t_sponsor_container .t_s_top_container, .t_sponsor_container .t_s_middle_container, .t_sponsor_container .t_s_bottom_container {
      width: 100%;
      height: 33.33%;
      display: flex;
      justify-content: space-around; }
    .t_sponsor_container .t_s_top_container {
      margin: 0 0 3vw 0; }
      .t_sponsor_container .t_s_top_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_top_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_top_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_top_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_middle_container {
      margin-bottom: 3vw; }
      .t_sponsor_container .t_s_middle_container ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        .t_sponsor_container .t_s_middle_container ul li {
          width: 70%; }
          .t_sponsor_container .t_s_middle_container ul li a {
            width: 100%;
            height: 100%; }
            .t_sponsor_container .t_s_middle_container ul li a img {
              width: 23%;
              height: 100%; }
    .t_sponsor_container .t_s_bottom_container ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .t_sponsor_container .t_s_bottom_container ul li {
        width: 70%; }
        .t_sponsor_container .t_s_bottom_container ul li a {
          width: 100%;
          height: 100%; }
          .t_sponsor_container .t_s_bottom_container ul li a img {
            width: 23%;
            height: 100%; }

  /* 풋터 */
  .footer_container {
    width: 100%;
    height: 500px;
    background-color: #393433;
    margin-top: 3vw;
    display: block; }
    .footer_container .f_content_container {
      margin: 0 auto;
      width: 100%;
      height: 100%; }
      .footer_container .f_content_container .f_logo_container {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        padding-top: 15vw; }
        .footer_container .f_content_container .f_logo_container img {
          height: 100%;
          width: 35%; }
      .footer_container .f_content_container .f_policy_container {
        width: 100%;
        height: 40%;
        margin-top: 15vw;
        display: flex;
        flex-direction: column;
        margin: 15% 0 15% 0; }
        .footer_container .f_content_container .f_policy_container a {
          height: 10%;
          text-align: center;
          margin: 5% 25% 5% 25%; }
      .footer_container .f_content_container .f_txt_container {
        width: 100%;
        height: 60px; }
        .footer_container .f_content_container .f_txt_container .f_addr_container, .footer_container .f_content_container .f_txt_container .f_right_container {
          width: 100%;
          height: 50%;
          text-align: center; }
        .footer_container .f_content_container .f_txt_container .f_addr_container h1 {
          color: #fff; }
        .footer_container .f_content_container .f_txt_container .f_right_container h1 {
          color: #b3b3b3; }
    .footer_container img {
      width: 5vw;
      height: 7vw;
      margin: 0 50vw 0 50vw; }
    .footer_container a {
      border-bottom: 1px solid #fff;
      width: 50%;
      height: 50%;
      margin: 0; } }

/*# sourceMappingURL=index.css.map */
